# Environment files
.env
.env.local
.env.prod

# Logs
logs/
*.log

# SSL certificates (ne pas commiter)
certs/
ssl/
*.pem
*.key
*.crt

# Nginx cache
cache/
temp/

# Let's Encrypt certificates
letsencrypt/